<ul id="main-nav">
    <li>
        <a href="/dashboard" class="nav-top-item no-submenu nav-ajax current">
            Dashboard
        </a>
    </li>
    <li>
        <a href="#" id="domains" class="nav-top-item">
            Máquinas Virtuais
        </a>
        <ul>
            <li><a class="nav-ajax" data-pai="domains" href="/dominios/listar">Listar máquinas Ativas</a></li>
            <li><a class="nav-ajax" data-pai="domains" href="/dominios/listarInativas">Listar máquinas Inativas</a></li>
            <li><a class="nav-ajax" data-pai="domains" href="/dominios/criar">Criar uma nova máquina</a></li>
        </ul>
    </li>
    <li>
        <a href="#" id="repository" class="nav-top-item">
            Repositório
        </a>
        <ul>
            <li><a class="nav-ajax" data-pai="repository" href="/repositorio/listar">Listar unidades de disco</a></li>
            <li><a class="nav-ajax" data-pai="repository" href="/repositorio/criar">Criar uma nova unidade</a></li>
        </ul>
    </li>
    <li>
        <a href="/sobre" class="nav-top-item no-submenu nav-ajax">
            Sobre
        </a>
    </li>
</ul>