{% extends "base/default.twig" %}

{% block title %}Lista de Máquinas{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <h1>Lista de máquinas</h1>
    <ul>
    {% for dominio in dominios %}
        <li>{{ dominio.getName() }}, {{ (dominio.getMemory() / 1024 ) }}/{{ (dominio.getMaxMemory() / 1024 ) }} MB</li>
    {% endfor %}
    </ul>
{% endblock %}